@use 'variables' as *;

.board {
  //   background-color: lightgreen;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  min-height: calc(100vh - #{$header-height} * 2);
  padding: 2rem 1.5rem 0;
}

@media only screen and (max-width: $max-width) {
  .board {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, "fit-content");
  }
}
