@use 'variables' as *;

.board {
  $remaining-height: ($header-height * 2) + $navbar-height;
  //   background-color: lightgreen;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  min-height: calc(100vh - #{$remaining-height});
  min-height: calc(-webkit-fill-available - #{$remaining-height});
  overflow-y: scroll;
  padding: 0rem 1.5rem 0;
}

@media only screen and (max-width: $max-width) {
  $remaining-height: ($header-height * 2) + $navbar-height-mobile;
  .board {
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, "fit-content");
    min-height: 0;
    max-height: calc(100vh - #{$remaining-height});
    max-height: calc(-webkit-fill-available - #{$remaining-height});
    overflow: hidden;
    padding: 0;
  }
}
