@use 'variables' as *;

.dashboard {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  // TODO: Check whether this is actually needed after the other elements are initialized.
  min-height: 500px;

  > span {
    display: grid;
    gap: 4rem;
    grid-template-columns: 8fr 6fr;
    grid-template-rows: 1fr;
    width: 1000px;
  }

  span[role="leading"] {
    position: relative;
    top: -24px;
  }

  span[role="trailing"] {
    position: relative;
    top: 16px;
  }
}

@media only screen and (max-width: $max-width) {
  .dashboard {
    padding: 0 1rem;

    > span {
      display: grid;
      gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
    }

    span[role="trailing"] {
      position: relative;
      top: 0;
    }
  }
}
